{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Edit HostInfos{% endblock %}

{% block content %}

      <div class="app-title">
        <div>
          <h1><i class="fa fa-th-list"></i> {{ _('User Info') }}</h1>
          <p> {{ _('User Info Display') }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb side">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"> {{ _('User List') }}</li>
          <li class="breadcrumb-item active"><a href="#"> {{ _('User Info Details') }}</a></li>
        </ul>
      </div>

      <div class="page-header">
        <h1><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> {{ username }} {{ _('Rest Password') }}
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('auth.userlist') }}"> {{ _('User List') }}</a></span>
        </h1>
    </div>


      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
                {{ render_form(form) }}
            </div>
          </div>
        </div>
      </div>

{% endblock %}
