{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Home{% endblock %}

{% block content %}


      <div class="app-title">
        <div>
          <h1><i class="fa fa-dashboard"></i> {{ _('Dashboard') }}</h1>
          <p> {{ _('Statistical information display') }}</p>
        </div>
        <ul class="app-breadcrumb breadcrumb">
          <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
          <li class="breadcrumb-item"><a href="#"> {{ _('Dashboard') }}</a></li>
        </ul>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="widget-small primary coloured-icon"><i class="icon fa fa-users fa-3x"></i>
            <div class="info">
              <h4> {{ _('Users') }}</h4>
              <p><b> {{ user_num }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <!-- <div class="widget-small info coloured-icon"><i class="icon fa fa-thumbs-o-up fa-3x"></i> -->
          <div class="widget-small info coloured-icon"><i class="icon fa fa-server fa-3x"></i>
            <div class="info">
              <h4> {{ _('HostGroup') }}</h4>
              <p><b> {{ group_num }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small warning coloured-icon"><i class="icon fa fa-desktop fa-3x"></i>
            <div class="info">
              <h4> {{ _('Hosts Num') }}</h4>
              <p><b> {{ host_num }}</b></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="widget-small danger coloured-icon"><i class="icon fa fa-tasks fa-3x"></i>
            <div class="info">
              <h4> {{ _('Task') }}</h4>
              <p><b>500</b></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title"> {{ _('Monthly Trend') }}</h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="lineChartDemo"></canvas>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="tile">
            <h3 class="tile-title"> {{ _('Support Requests') }} </h3>
            <div class="embed-responsive embed-responsive-16by9">
              <canvas class="embed-responsive-item" id="pieChartDemo"></canvas>
            </div>
          </div>
        </div>
      </div>


{% endblock %}

{% block footer %}

{% endblock footer %}
