{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}

{% block title %}Manage HostGroups{% endblock %}

{% block content %}

<!-- <main class="app-content"> -->
  <div class="app-title">
    <div>
      <h1><i class="fa fa-th-list"></i> {{ _('HostGroup Info') }}</h1>
      <p> {{ _('HostGroup Info Display') }}</p>
    </div>
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
      <li class="breadcrumb-item"> {{ _('HostGroup List') }}</li>
      <li class="breadcrumb-item active"><a href="#"> {{ _('HostGroup Info Details') }}</a></li>
    </ul>
  </div>

    <div class="page-header">
        <h1> {{ _('HostGroup') }} | 
            <small class="text-muted">{{ pagination.total }}</small>
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('dashboard.new_hostgroup') }}"> {{ _('New HostGroup') }}</a></span>
        </h1>
    </div>
    {% if hostgroups %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th> {{ _('No.') }}</th>
            <th> {{ _('Name') }}</th>
            <th> {{ _('Comments') }}</th>
            <th> {{ _('Hostinfos') }}</th>
            <th> {{ _('Date') }}</th>
            <th> {{ _('Actions') }}</th>
        </tr>
        </thead>
        {% for hostgroup in hostgroups %}
        <tr>
            <td>{{ loop.index + ((page - 1) * config.SUPERMAN_MANAGE_POST_PER_PAGE) }}</td>
            <td><a href="{{ url_for('.details_hostgroup', hostgroup_id=hostgroup.id) }}">{{ hostgroup.name }}</a></td>
            <td><a href="#comments">{{ hostgroup.comment }}</a></td>
            <td><a href="#comments">{{ hostgroup.hostinfos|length }}</a></td>
            <td><a href="#comments">{{ moment(hostgroup.timestamp).format('LL') }}</a></td>
            <td>
                <a class="btn btn-info btn-sm" href="{{ url_for('.edit_hostgroup', hostgroup_id=hostgroup.id) }}"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i> Edit</a>
                <button type="submit" class="btn btn-danger btn-sm" onclick="deleteHostGroup('{{ hostgroup.id }}')"><i class="fa fa-trash-o fa-lg"></i> Delete</button>

            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="page-footer">{{ render_pagination(pagination) }}</div>
    {% else %}
    <div class="tip"><h5>{{ _('No hostgroups.') }}</h5></div>

    {% endif %}

<!-- </main> -->
{% endblock %}


{% block scripts %}


<script type="text/javascript">

function deleteHostGroup(hostgroupId) {
    swal({
      title: "确定要删除这个主机组么？", 
      text: "删除后可就无法恢复了。", 
      type: "warning",
      showCancelButton: true,
      closeOnConfirm: false,
      confirmButtonText: "是的，我要删除！",
      cancelButtonText: "容我三思",
      confirmButtonColor: "#ec6c62"
    }, 
    function(isConfirm) {
        if (!isConfirm) return;
        $.ajax({
            url: "/hostgroup/" + hostgroupId + "/delete",
            type: "GET"
        })
        .done(function(data) {
            console.log(data);
          
            swal("Deleted!", "主机组删除成功!", "success");
            window.location.reload();
            
        })
        .fail(function(data) {
            console.log(data);
            swal("Oops", "服务器不可达" + data, "error");
        });
    });
};
</script>
{% endblock scripts %}