{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}HostGroup{% endblock %}


{% block content %}


    <!-- <main class="app-content"> -->
      <div class="app-title">
	    <div>
	      <h1><i class="fa fa-th-list"></i> {{ _('HostGroup Info') }}</h1>
	      <p> {{ _('HostGroup Info Display') }}</p>
	    </div>
	    <ul class="app-breadcrumb breadcrumb side">
	      <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
	      <li class="breadcrumb-item"> {{ _('HostGroup List') }}</li>
	      <li class="breadcrumb-item active"><a href="#"> {{ _('HostGroup Info Details') }}</a></li>
	    </ul>
	  </div>


    <div class="page-header" >
        <h1>
            <small class="text-muted"> {{ _('Add HostGroup') }}</small>
            <span class="float-right"><a class="btn btn-primary btn-sm"
                                         href="{{ url_for('dashboard.manage_hostgroup') }}"> {{ _('HostGroup List') }}</a></span>
        </h1>
    </div>

    
      <div class="row">
        <div class="col-md-12">
          <div class="tile">
            <div class="tile-body">
                {{ render_form(form) }}
            </div>
          </div>
        </div>
      </div>


    <!-- </main> -->


{% endblock content %}

{% block footer %}

{% endblock footer %}

